@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;

}

:root{

    --mainColor: #3c4752;    
    --mainColorVeryLight: #dbdbdb;
    --mainColorLight: #85929E;
    --mainColorDark: #21262b;
    --textColor: #ffffff;
    --textColorLight: #85929E;
    --backgroundColor: linear-gradient(.25turn, #202427, 30%, #000000);
    --headingTextColor: linear-gradient(.25turn, #a4a5a7, 30%, #000000);
    --headerimgGradient: linear-gradient(90deg, #ebe1ea 0%, #000000 100%);

}

body{

    background: var(--backgroundColor);
    font-family: 'Titillium Web', sans-serif !important;

}


.container-logo{

    height: 56px;
    width: 56px;
    cursor: pointer;

}

.container{

    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 0 5rem;
    color: var(--textColor);
    flex-direction: column;
    margin: 12rem 7rem;

}

.headerTitle{

    font-size: 100px;
    
}

.subheadingTitle{

    font-size: 32px;
    background: var(--headingTextColor);
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}

.headerText {

    font-weight: 500;
    margin: 2rem 0;

}

.headerImg{


    position: absolute;
    
    right: 0;
    margin-right: 250px;
    

}

.backblur{

    background: var(--headerimgGradient);
    filter: blur(100px);
    opacity: 0.2;

}

.header-btn{

    font-family: 'Titillium Web', sans-serif !important;

}

.header-btn:hover{

    background-color: var(--mainColor) !important;
    color: #FFF !important;

}

.props-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 12rem 10rem;
    margin: 1rem 0;
    background-color: #fbfbfd;
    color: var(--mainColor);
    text-align: center;
    line-height: 3rem;

}

.props-container h3{

    font-weight: 500;
    color: var(--textColorLight);

}

.props-icon{

    line-height: 5rem;

}

.props-icon:hover{

    transform: scale(1.2);

}

.props-iconBlur{

    background: var(--headerimgGradient);
    filter: blur(1000px);
    opacity: 0.25;

}

.slider-block{

    display: flex;
    justify-content: space-between;
    

}

.slider-block-text{

    padding: 0 10rem;
    margin: 3rem 2rem;
    color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.slider{

    height: 120px;
    width: 900px;
    position: relative;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--mainColorLight);
    border-radius: 20px;
    padding: 0 10rem;
    margin: 3rem 4rem;
    color: var(--textColor);
    box-shadow: 0px 10px 30px rgba(133, 146, 158, 0.2);

}

.slide-left-arrow{

    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transform: scale(1.2);

}

.slide-left-arrow:hover{

    transform: scale(1.4);

}

.slide-right-arrow{

    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transform: scale(1.2);

}

.slide-right-arrow:hover{

    transform: scale(1.4);

}

.slide{

    opacity: 0;
    transition-duration: 1s ease;

}

.slide.active{

    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);

}

.slide-review{

    display: flex;
    flex-direction: column;
    text-align: center;

}

.slide-review h1{

    margin: 2rem;
    font-weight: 600;

}

.slide-review h3{

    font-weight: 400;

}

.play{

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    font-weight:400;

}

.play p{

    padding: 0 0 2.25px 5px;

}

.card-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.card{

    background: var(--textColor);
    padding: 3rem 5rem 2.35rem 5rem;
    

}

.card h1{

    text-align: center;
    color: var(--mainColor);

}

.expand{

    padding-top: 1rem;
    line-height: 150%;
    width: 20rem;
    text-align: center;
    color: var(--mainColor);

}

.card-btn{

    color: var(--mainColorDark) !important;
    margin-top: 15px !important; 
    align-items: center !important;

}

.card-btn:hover{

    background-color:var(--mainColorVeryLight) !important; 
    color: var(--mainColorDark) !important;
    margin-top: 15px !important; 
    align-items: center !important;

}

.card-down-arrow{

    align-items: center !important;

}

.tutorial-container{

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 5rem;
    background: var(--mainColorLight);

}

.tutorial-text{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 2rem 0;
    background: var(--mainColorLight);
    color: var(--textColor);
    font-size: 52px;
    letter-spacing: 0.25rem;
    text-shadow: 1px 1px 2px white, 0 0 1em var(--mainColorLight), 0 0 1em var(--mainColorLight);

}

header {

    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 80px;
    padding: 0 4rem;
    background-color: var(--mainColor);
    color: var(--textColor);

}

.nav-country{

    position: absolute;
    top: 50%;
    right: 32px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    display: flex;

}

.nav-country p{

    margin-top: -0.3rem;

}

.nav-country-flag{

    margin-right: 0.5rem;
    

}

nav a{

    margin: 0 1.2rem;
    color: var(--textColor);
    text-decoration: none;

}
nav a:hover{

    color: var(--mainColorLight);

}

header .nav-btn{

    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;

}


@media only screen and (max-width: 1024px){

    header .nav-btn{

        visibility: visible;
        opacity: 1;

    }

    header nav{

        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: var(--mainColorLight);
        transition: 1s;
        transform: translateY(-100vh);

    }

    header .responsive_nav{

        transform: none;

    }

    header .nav-close-btn{

        position: absolute;
        top: 2rem;
        right: 2rem;

    }

    nav a{

        font-size: 1.5rem;

    }

    nav a:hover{

        color: var(--mainColor);
    
    }

}