@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;

}

:root{

    --mainColor: #3c4752;    
    --mainColorVeryLight: #dbdbdb;
    --mainColorLight: #85929E;
    --mainColorDark: #21262b;
    --textColor: #ffffff;
    --textColorLight: #85929E;
    --backgroundColor: linear-gradient(.25turn, #202427, 30%, #000000);
    --headingTextColor: linear-gradient(.25turn, #a4a5a7, 30%, #000000);
    --headerimgGradient: linear-gradient(90deg, #ebe1ea 0%, #000000 100%);
    --testColor: linear-gradient(90deg, #EC9F05 0%, #FF4E00 100%)

}

body{

    background: var(--backgroundColor);
    font-family: 'Titillium Web', sans-serif !important;
    overflow-x: hidden;

}


.container-logo{

    height: 56px;
    width: auto;
    cursor: pointer;

}

.container{

    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 0 5rem;
    color: var(--textColor);
    flex-direction: column;
    margin: 12rem 7rem;

}

.headerTitle{

    font-size: 100px;
    
}

.subheadingTitle{

    font-size: 32px;
    background: var(--headingTextColor);
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}

.headerText {

    font-weight: 500;
    margin: 2rem 0;

}

.headerImg{


    position: absolute;
    right: 0;
    z-index: -1;

}

.iphone{

    right: 0;
    bottom: 7%;
    z-index: 0;

}

.green-box{

    position: absolute;
    
    right: 25%;
    bottom: 7%;
    z-index: -1;

}

.red-box{

    position: absolute;
    
    left: 20%;
    top: -26%;
    z-index: -1;

}

.character-box{

    position: absolute;
    
    right: 11%;
    top: 0%;

}


.backblur{

    background: var(--headerimgGradient);
    filter: blur(100px);
    opacity: 0.2;
    position: absolute;
    right: 0;
    margin-right: 250px;

}

.header-btn{

    font-family: 'Titillium Web', sans-serif !important;

}

.header-btn:hover{

    background-color: var(--mainColor) !important;
    color: #FFF !important;

}

.props-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 12rem 10rem;
    margin: 1rem 0;
    background-color: #fbfbfd;
    color: var(--mainColor);
    text-align: center;
    line-height: 3rem;
    z-index: 10;
}

.props-container h3{

    font-weight: 500;
    color: var(--textColorLight);

}

.props-icon{

    line-height: 5rem;

}

.props-icon:hover{

    transform: scale(1.2);

}

.props-iconBlur{

    background: var(--headerimgGradient);
    filter: blur(1000px);
    opacity: 0.25;

}

.slider-block{

    display: flex;
    justify-content: space-between;
    

}

.slider-block-text{

    padding: 0 10rem;
    margin: 3rem 2rem;
    color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;

    

}

.slider{

    width: 100vh;
    position: relative;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--mainColorLight);
    border-radius: 20px;
    padding: 0 10rem;
    margin: 3rem 4rem;
    color: var(--textColor);
    box-shadow: 0px 10px 30px rgba(133, 146, 158, 0.2);

}

.slide-left-arrow{

    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    z-index: 5;
    cursor: pointer;
    user-select: none;
    transform: scale(1.2);

}

.slide-left-arrow:hover{

    transform: scale(1.4);

}

.slide-right-arrow{

    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    z-index: 5;
    cursor: pointer;
    user-select: none;
    transform: scale(1.2);

}

.slide-right-arrow:hover{

    transform: scale(1.4);

}

.slide{

    opacity: 0;
    transition-duration: 1s ease;

}

.slide.active{

    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);

}

.slide-review{

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40vh;

}

.slide-review h1{

    margin: 2rem;
    font-weight: 600;
    font-size: 22px;

}

.slide-review h3{

    font-weight: 400;
    font-size: 16px;

}

.play{

    position: absolute;
    bottom: 0;
    left: 90%;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    font-weight:400;

}

.play p{

    padding: 0 0 2.25px 5px;

}

.card-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 2rem;

}

.card{

    background: var(--textColor);
    padding: 3rem 5rem 2.35rem 5rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50vh;
    

}

.card h1{

    text-align: center;
    color: var(--mainColor);

}

.expand{

    padding-top: 1rem;
    line-height: 150%;
    width: 20rem;
    text-align: center;
    color: var(--mainColor);

}

.card-btn{

    color: var(--mainColorDark) !important;
    margin-top: 15px !important; 
    align-items: center !important;

}

.card-btn:hover{

    background-color:var(--mainColorVeryLight) !important; 
    color: var(--mainColorDark) !important;
    margin-top: 15px !important; 
    align-items: center !important;

}

.card-down-arrow{

    align-items: center !important;

}

.tutorial-container{

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 5rem 7rem 5rem;
    background: var(--mainColorLight);

}

.tutorial-text{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 2rem 0;
    background: var(--mainColorLight);
    color: var(--textColor);
    font-size: 52px;
    letter-spacing: 0.25rem;
    text-shadow: 1px 1px 2px white, 0 0 1em var(--mainColorLight), 0 0 1em var(--mainColorLight);

}

.started-container{



    align-items: left;
    display: flex;
    padding: 7rem 12rem;
    justify-content: space-between;
    color: var(--textColor);
    flex-direction: column;
    margin: 0 7rem;


}

.started-container h1{

    font-size: 48px;

}

.started-img{

    margin-left: 80px;

}

.step{

    display: flex;
    justify-content: space-between;
    
    margin: 4.2rem 3rem;
    

}


.step-text{

    display: flex;
    flex-direction: column;
    

}

.step-text h1{

    margin: 1rem 0;

}

.step-img{

    width: auto;
    height: auto;
    border-radius: 10px;

}


.navbar{

    background:none;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 62px;
    position: fixed;

}

.menu-bars{

    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    
    

}

.nav-menu{

    background-color: var(--mainColorDark);
    width: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    margin-top: 62px;
    background: rgba(0,0,0,0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: saturate(180%) blur(20px);

}

.nav-menu.active{

    left: 0;
    transition: 350ms;
    width: 220px;
    

}

.nav-text{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
    letter-spacing: 1px;

}

.nav-text a{

    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;

}

.nav-text a:hover{

    background-color: var(--mainColor);

}

.nav-menu-item {

    width: 100%;

}

.navbar-toggle{

    
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

span{

    margin-left: 16px;

}

.download,.usage{

    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

}

.header-container{


    display: flex;
    align-items: center;


}

.about-container{


    display: flex;

    padding: 5rem 5rem;
    justify-content: space-between;
    color: var(--textColor);
    flex-direction: column;
    margin: 3rem 4rem;

}

.about-wierd{

    display:flex;
    flex-direction: column;
    margin: 0 7rem;

}

.about-members{

    display: flex;
    

}

.about-visible-p{

    display: none;

}

.newsletter-btn{

    margin-top: 1rem;

}

.popup{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;

}

.popup-inner{

    position: relative;
    width: 100%;
    max-width: 25%;
    min-height: 30vh;
    background-color: var(--mainColorVeryLight);
    border-radius: 20px;
    padding: 4rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.popup-close-btn{

    position: absolute !important;
    top: 16px;
    right: 16px;

}



.mc__form{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mc__form h3{

    color: var(--mainColor);
    margin-bottom: 1.4rem;

}

.mc__field-container{

    display: flex;
    flex-direction: column;
    color: var(--mainColor);

}

.mc__alert{

    color: var(--mainColor);
    padding: 1rem;

}

.inputField__label{

    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;

}

.inputField__field{

    text-align: center;
    border: none;
    font-size: 16px;
    padding: 8px 10px;
    margin: 0.2rem auto;
    width: 100%;
    max-width: 400px;
    font-weight: bold;

}

input {

    background-color : var(--textColor); 
    border-radius: 10px;
  
}

input[type="submit"]{

    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    flex: 1 1 auto;
    margin: 20px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--textColor);
    font-weight: 800;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border: none;

}

input[type="submit"]:hover{

    background-position: right center;

}

::placeholder {
    font-weight: normal;
    color: var(--mainColorLight);
}

input[disabled] {
    background-image: linear-gradient(to right, var(--mainColorLight) 0%, var(--mainColor) 51%, var(--mainColorDark) 100%);
    cursor: default;
}

input[disabled]:hover {
    background-position: right center;
    transform: scale(1);
}



header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 0px;
    padding: 2rem 4rem;
    background-color: var(--mainColor);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8;
    transition: 0.6s;
    background: rgba(0,0,0,0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: saturate(180%) blur(20px);


}


.nav-country{

    position: absolute;
    top: 50%;
    right: 32px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    display: flex;

}

.nav-country p{

    color: var(--mainColorVeryLight);
    margin-top: -0.3rem;

}

.nav-country:hover{

    color: var(--textColor);
    margin-top: -0.3rem;
    transform: scale(1.05);
    transition: 0.2s ease;

}

.nav-country-flag{

    margin-right: 0.5rem;
    

}

nav a{

    margin: 0 1.2rem;
    color: var(--mainColorVeryLight);
    text-decoration: none;

}
nav a:hover{

    
    color: var(--textColor);

}

header .nav-btn{

    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;

}


@media only screen and (max-width: 1176px){

    .popup-inner{

        max-width: 70%;

    }

    .about-wierd{

        margin: 0;

    }

    .about-img{

        display: none;

    }

    .about-hidden-p{

        display: none;

    }

    .about-visible-p{

        display: block;

    }

    .about-container{

        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 5rem 0;
        justify-content: space-between;
        color: var(--textColor);
        flex-direction: column;
        margin: 0;

    }

    .started-container{

        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 6rem 3rem;
        justify-content: space-between;
        color: var(--textColor);
        flex-direction: column;
        margin: 0;
    
    
    }

    .started-container .step-img{

        display: none;

    }
    
    .started-container h1{
    
        font-size: 48px;
    
    }

    .started-img{

        margin-left: 0;

    }

    .started-img-padder{

        margin-bottom: 4rem;

    }
    
    .step{
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem 0rem;
        
    
    }

    .step-text h3{
        letter-spacing: 0.03rem;
        font-weight: 100;
        font-size: 24px;

    }

    .step-text h1{
        font-weight: 600;

        font-size: 32px;

    }

    .navbar{

        display: none;

    }

    .card-container{
    
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 1.2rem 0;
    
    }
    
    .card{
    
        background: var(--textColor);
        padding: 1.5rem 2rem 1.15rem 2rem;
        width: 40vh !important;
        
    
    }
    
    .card h1{
    
        text-align: center;
        color: var(--mainColor);
    
    }

    .card h1{
    
        text-align: center;
        color: var(--mainColor);
    
    }
    
    .expand{
    
        padding-top: 1rem;
        line-height: 150%;
        width: 20rem;
        text-align: center;
        color: var(--mainColor);
        padding: 0 2.2rem;
    
    }
    
    .card-btn{
    
        color: var(--mainColorDark) !important;
        margin-top: 15px !important; 
        align-items: center !important;
    
    }
    
    .card-btn:hover{
    
        background-color:var(--mainColorVeryLight) !important; 
        color: var(--mainColorDark) !important;
        margin-top: 15px !important; 
        align-items: center !important;
    
    }
    
    .card-down-arrow{
    
        align-items: center !important;
    
    }

    .tutorial-container{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 3rem 5rem 7rem 5rem;
        background: var(--mainColorLight);
    
    }

    .slider-block{

        display: flex;
        flex-direction: column;
        align-items: center;
        
    
    }
    
    .slider-block-text{
    
        padding: 0 3rem;
        margin: 1.5rem 1rem 0 1.5rem;
        font-size: 12px;
        color: var(--textColor);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    
    }
    
    .slider{
    
        position: relative;
        height: 38vh;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--mainColorLight);
        border-radius: 20px;
        padding: 0 1rem;
        margin: 3rem 4rem;
        color: var(--textColor);
        box-shadow: 0px 10px 30px rgba(133, 146, 158, 0.2);
    
    }
    
    .slide-left-arrow{
    
        position: absolute;
        top: 50%;
        left: 12px;
        font-size: 3rem;
        z-index: 5;
        cursor: pointer;
        user-select: none;
        transform: scale(1.2);
    
    }
    
    .slide-left-arrow:hover{
    
        transform: scale(1.4);
    
    }
    
    .slide-right-arrow{
    
        position: absolute;
        top: 50%;
        right: 12px;
        font-size: 3rem;
        z-index: 5;
        cursor: pointer;
        user-select: none;
        transform: scale(1.2);
    
    }
    
    .slide-right-arrow:hover{
    
        transform: scale(1.4);
    
    }
    
    .slide{
    
        opacity: 0;
        transition-duration: 1s ease;
    
    }
    
    .slide.active{
    
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
    
    }
    
    .slide-review{
    
        display: flex;
        flex-direction: column;
        text-align: center;

    
    }
    
    .slide-review h1{
    
        font-weight: 600;
        font-size: 18px;
    
    }
    
    .slide-review h3{
    
        font-weight: 400;
        font-size: 14px;
    }

    .play{

        display: none;
    
    }
    

    .props-container{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 3rem 2rem;
        margin: 1rem 0;
        background-color: #fbfbfd;
        color: var(--mainColor);
        text-align: center;
        line-height: 3rem;

    }

    .props-container h3{

        line-height: 2rem;

    }

    .prop{

        margin: 1rem 0;

    }

    .props-icon{

        line-height: 2rem;

    }

    .container{

        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 3rem 0rem;

    }

    .subheadingTitle{

        -webkit-text-fill-color: unset;

    
    }
    

    .nav-country{

        display: none;

    }

    .headerImg{

        display: none;

    }

    header .nav-btn{

        visibility: visible;
        opacity: 1;

    }

    header nav{

        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3rem;
        background-color: rgba(22, 22, 23, .99);;
        transition: 1s;
        transform: translateY(-200vh);
        padding: 8rem 4rem 8rem 0rem;
        

    }

    header .responsive_nav{

        transform: none;
        overflow-y: scroll;

    }

    header .nav-close-btn{

        position: absolute;
        top: 2rem;
        right: 2rem;

    }

    nav a{

        width: 100vh;
        display: flex;
        font-size: 32px;
        font-weight: 800;
        letter-spacing: 0.02rem;
        color: var(--textColor);

    }

    nav a:hover{

        color: var(--mainColor);
    
    }

    .nav-chevron{

        position: absolute;
        margin-top: 00.6rem;
        right: 10%;

    }

    .nav-chevron:hover{
        
        color: var(--mainColor);

    }

}

@media only screen and (max-width: 1366px) and (min-width: 1177px) {

    .header-container p{

        font-size: 24px !important;
        line-height: 2 !important;
    
    }

    .header-container p{

        font-size: 18px !important;
    
    }

    .about-wierd{

        display:flex;
        flex-direction: column;
        margin: 0 2rem;
    
    }

    .about-container{

        align-items: left;
        display: flex;
        padding: 7rem 6rem 4rem 6rem;
        justify-content: space-between;
        color: var(--textColor);
        flex-direction: column;
        margin: 0;

    }

    .started-container{

        align-items: left;
        display: flex;
        padding: 7rem 6rem;
        justify-content: space-between;
        color: var(--textColor);
        flex-direction: column;
        margin: 0 0rem 0 11rem;
    
    
    }

    .step-text h3{

        font-size: 16px;
        font-weight: 400;

    }

    .step-text h1{

        font-size: 28px;

    }

    .step-text{

        margin: 0 2rem;

    }

    .card h1{

        font-size: 24px;

    }

    .card{

        transform: scale(0.8);
        padding: 2rem 1rem 1.15rem 1rem;

    }

    .member-container{

        width: 38%;

    }

    .expand{

        padding-top: 0.65rem;

    }

    .slide-review{
    
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
    
    }
    
    .slide-review h1{
    
        font-weight: 600;
        font-size: 18px;
        margin: 0.5rem;
    
    }
    
    .slide-review h3{
    
        font-weight: 400;
        font-size: 12px;
    
    }
    
    .slider-block-text{
        
        width: 900px;
        padding: 0 10rem;
        margin: 3rem 2rem;
        color: var(--textColor);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    
    }

    .slider{
        position: relative;
        min-width: 60vh;
        max-width: 60vh;
        height: 60vh;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--mainColorLight);
        border-radius: 20px;
        padding: 0 5rem;
        margin: 3rem 4rem;
        color: var(--textColor);
        box-shadow: 0px 10px 30px rgba(133, 146, 158, 0.2);

    }
    
    .play{

        display: none;

    }

}